@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo: #4e4e4b;
  --amarelo: #dae63c;
  --branco: #FFFFFF;
  --botao-ativo: rgba(228, 174, 35, 0.4);
  --botao-inativo: #e4a23e9d;
  --texto-fundo: rgb(255, 255, 255);
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
  font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.titulo-principal
{
  font-size: 32px;
}

.titulo-principal span
{
  color: var(--amarelo)
}

.botao
{
  font-family: "Crakra Petch", sans-serif;
  background-color: var(--botao-inativo);
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
  border-bottom: 4px solid var(--botao-inativo);
  border-left: 2px solid var(--botao-inativo);
  border-right: 2px solid var(--botao-inativo);
  border-top: none;
}

.ativo

.botao:first-child 
{
    border-radius: 40px 40px 0 0;
}

.botoes 
{
    display: block;
}

@media screen and (min-width: 768px) 
{
    .botoes 
    {
        display: flex;
    }

    .botao:first-child 
    {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child 
    {
        border-radius: 0 40px 0 0;
    }
}


